{% load static %}
<div class="myrow3 row">
    <div class="box col-4">
        <i class="bi bi-geo-alt-fill" style="font-size: 20px;"></i> Addresss:2nd floor, Ishan Arcade, 1, Gokhale Rd,
        opposite Gaondevi Mandir, above Canara Bank, Shivaji Path, Dada Patil Wadi, Naupada, Thane West, Thane,
        Maharashtra 400602
    </div>
    <div class="box col-4"> Contact Us:<br>
        <i class="bi bi-phone" font-size: 20px;></i>&nbsp;&nbsp;:9594570090<br>
        <i class="bi bi-envelope" font-size: 20px;></i>&nbsp;&nbsp;:Shubhamrane016@gmail.com
    </div>
    <div class="box col-4"> Social Media Handles: <i class="bi bi-facebook" style="font-size: 20px;"></i>&nbsp;&nbsp; <i
            class="bi bi-whatsapp" style="font-size: 20px;"></i>&nbsp;&nbsp; <i class="bi bi-twitter"
            style="font-size: 20px;"></i>&nbsp;&nbsp; <i class="bi bi-linkedin" style="font-size: 20px;"></i>
    </div>
</div>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>