<div class="myrow2 row ">
    <div class="box col-2 mt-2 bg-light">
        <a href="">All Products</a><br>
        <h5 class="mt-2">Filter By Category</h5>
        <hr>
        <a href="">Mobile</a><br>
        <a href="">Clothing</a><br>
        <a href="">Accessory</a><br>
        <h5 class="mt-2">Filter By Price</h5>
        <hr>
        <form action="">
            <div class="col-auto">
                <label class="col-form-label">Min:</label>
                <input type="text" class="form-control" name="min">
                <label class="col-form-label">Max:</label>
                <input type="text" class="form-control" name="max">
                <input type="submit" value="Search" class=" btn btn-primary mt-2">
            </div>
        </form>
        <h5 class="mt-2">Sort By Price</h5>
        <hr>
        <a href="">Low to High</a><br>
        <a href="">High to Low</a><br>
    </div>